@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero-text">
    <h2><strong>Chăm sóc bằng tài năng, y đức và sự thấu cảm.</strong></h2>
    <p>KOI KOI là trung tâm cung cấp dịch vụ chăm sóc sức khỏe cho cá Koi với nhiều năm kinh nghiệm.</p>
</div>
